/* PaymentFailure.css */

.payment-failure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    min-height: 80vh;
    padding: 20px;
    background-color: #f4f4f9;
  }

.payment-failure h1 {
    color: red;
    font-size: 3.5rem;
    margin-bottom: 20px;
}  
  
  .payment-details {
    margin-top: 1rem;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .back-button {
    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #ab0112, #fa6d86);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
  }
  
  .back-button:hover {
    background: linear-gradient(270deg, #fa6d86, #684328);
  }
  
  
  .rotate-left {
    transform: rotate(-180deg);
  }
  