.sevas-list-page {
  padding: 20px;
  background-image: url('../../assets/nav-header-bg2.png');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.back-button {
  display: flex;
  align-items: center;
  background: linear-gradient(270deg, #ab0112, #fa6d86);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button:hover {
  background: linear-gradient(
    270deg,
    #fa6d86,
    #684328
  ); 
}

.back-button img {
  margin-right: 8px;
}

.sevas-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 20px;
  cursor: pointer;
}

.seva-card {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.seva-card h3 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.seva-card h3:hover {
  color: #007bff;
}
.seva-card p {
  font-size: 1em;
  color: #666;
}

.seva-card img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.rotate-left {
  transform: rotate(180deg);
}

.booknow-btn {
  border: 0;
  outline: 0;
  background: #cb2110;
  color: #fff;
  border-radius: 2px;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.seva-card.disabled {
  background-color: grey;
  pointer-events: none;
  opacity: 0.6;
  display: none;
}
