body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e0e0e0;
  background-image: url('../../assets/nav-header-bg2.png');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #ab0112;
}

.welcome-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  width: 300px;
  height: 100px;
  margin-top: 30px;
  font-size: 25px;
  font-weight:bolder;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 22px;
  cursor: pointer;
  background: linear-gradient(270deg, #ab0112, #fa6d86);
  color: #fff;
  transition: all 0.3s ease;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.welcome-btn:hover {
  background: linear-gradient(
    270deg,
    #fa6d86,
    #684328
  ); /* Change gradient on hover */
}

.welcome-btn img {
  padding-left: 7px;
}

.telugu-title {
  color: #0415ab;
  font-size: 25px;
  font-weight: bold;
  margin-top: 1px;
}
.telugu-title2 {
  margin-top: 1px;
}

/* Responsive styles */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
  
  .welcome-btn {
    width: 80%;
    height: 60px;
    font-size: 18px;
  }

  .telugu-title {
    font-size: 20px;
  }

  .telugu-title2 {
    font-size: 18px;
  }
}